<?xml version="1.0"?>
<!-- Basic differential drive mobile base -->
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="diffdrive_robot">
  <xacro:arg name="prefix" default="" />

  <xacro:include filename="/home/piros/Work/ROS2/control_ws/src/three_wheel/description/urdf/three_wheel_description.urdf.xacro" />

  <!-- Import Rviz colors -->
  <xacro:include filename="$(find three_wheel)/urdf/three_wheel.materials.xacro" />

  <!-- Import diffbot ros2_control description -->
  <xacro:include filename="$(find three_wheel)/ros2_control/three_wheel.ros2_control.xacro" />

  <xacro:three_wheel prefix="$(arg prefix)" />

  <xacro:three_wheel_ros2_control name="ThreeOmniwheelController" prefix="$(arg prefix)" />

</robot>
