<?xml version="1.0"?>
<!-- Basic differential drive mobile base -->
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="diffdrive_robot">
  <xacro:arg name="prefix" default="" />

  <xacro:include filename="$(find diff_drive)/urdf/diff_drive_description.urdf.xacro" />

  <!-- Import Rviz colors -->
  <xacro:include filename="$(find diff_drive)/urdf/diff_drive.materials.xacro" />

  <!-- Import diffbot ros2_control description -->
  <xacro:include filename="$(find diff_drive)/ros2_control/diff_drive.ros2_control.xacro" />

  <xacro:diff_drive prefix="$(arg prefix)" />

  <xacro:diff_drive_ros2_control name="Diff_drive" prefix="$(arg prefix)" />

</robot>
